.page-header
  %h1 Services

%ul#services.unstyled
  - @services.each do |service|
    %li.service
      .row.success
        .span10
          %h2.inline
            = service.current_status
            = link_to service.name, service_path(service)
            %small 
              = service.incident_counts
        .span2
          .controls.pull-right
            = link_to edit_service_path(service), class: 'btn' do
              %i.icon-pencil
              Edit
            
            = link_to service_path(service), method: :delete, class: 'btn' do
              %i.icon-trash
              Delete
            
          / .incidents
          /   %ul.inline
          /     %li
          /       %h3= service.triggered_count
          /     %li= service.acknowledged_count
          /     %li= service.resolved_count

        / %li= service.acknowledged_count
        / %li= service.resolved_count

      / .row
      / .status
      /   = service.current_status
      / .details
      /   .service-name
      /     = service.name
      /   .service-incident-count
      /     = service.incidents.count

