<dl id="service-nav" class="sub-nav">
  <dt>Filter:</dt>
  <dd {{bind-attr class="isAll:active"}}>
    <a {{action "setFilterName" "all"}}>
      <i class='fa fa-lg fa-th-list show-for-small-only'></i>
      <span class="show-for-medium-up">All</span>
    </a>
  </dd>
  <dd {{bind-attr class="isOk:active"}}>
    <a {{action "setFilterName" "ok"}}>
      <i class='fa fa-lg fa-smile-o show-for-small-only'></i>
      <span class="show-for-medium-up">Ok</span>
    </a>
  </dd>
  <dd {{bind-attr class="isWarning:active"}}>
    <a {{action "setFilterName" "warning"}}>
      <i class='fa fa-lg fa-meh-o show-for-small-only'></i>
      <span class="show-for-medium-up">Warning</span>
    </a>
  </dd>
  <dd {{bind-attr class="isCritical:active"}}>
    <a {{action "setFilterName" "critical"}}>
      <i class='fa fa-lg fa-frown-o show-for-small-only'></i>
      <span class="show-for-medium-up">Critical</span>
    </a>
  </dd>
  <dd {{bind-attr class="isDisabled:active"}}>
    <a {{action "setFilterName" "disabled"}}>
      <i class='fa fa-lg fa-pause show-for-small-only'></i>
      <span class="show-for-medium-up">Disabled</span>
    </a>
  </dd>
</dl>
