<div id="services">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each service in services}}
        <tr>
          <td>{{service.current_status}}</td>
          <td>{{service.name}}</td>
          <td>actions</td>
        </tr>
      {{else}}
        <tr>No services.</tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="page-header">
  <h4>Disabled</h4>
</div>

<div id="disabled-services">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each service in services}}
        <tr>
          <td>{{service.current_status}}</td>
          <td>{{service.name}}</td>
          <td>actions</td>
        </tr>
      {{else}}
        <tr>No services.</tr>
      {{/each}}
    </tbody>
  </table>
</div>
