= f.input :count
= f.input :rule, collection: ScheduleLayer::VALID_RULES
= f.input :start_at, as: :string, input_html: { data: { behavior: 'datepicker' } }
= f.input :_destroy, as: :hidden

= link_to '[remove]', '#', class: 'remove_fields'