 <div id="service-{{service.id}}" class="service-summary panel">
  <div class="row">

    <div class="large-9 columns">

      {{!-- <h3>{{link-to 'service' service.id}}{{service.name}}{{link-to}}</h3> --}}
      <h3>{{service.name}}</h3>
      <div class="service-policy">
        <strong>Policy:</strong>
        <a href="">Operations</a>
      </div>
      <div class="service-health">
        <strong>Health:</strong>
        {{service.health}}
      </div>

    </div>

    <div class="large-3 columns">
      <div class="service-incident-counts right">
        <span class="alert">
          <i class="fa fa-times-circle"></i> {{service.incidentCounts.triggered}}
        </span>
        <span class="warning">
          <i class="fa fa-exclamation-circle"></i> {{service.incidentCounts.acknowledged}}
        </span> 
        <span class="success">
          <i class="fa fa-check-circle"></i> {{service.incidentCounts.resolved}}
        </span>
      </div>

    </div>

  </div>
</div>
