/ = page_header "Dashboard"

.row-fluid
  #services.span2
    %h3 Services
    %ul#services.unstyled
      - @services.each do |service|
        %li
          = service.current_status
          = link_to service.name, service_path(service)

  .span8
    %h2 My Open Incidents
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th ID
          %th Service
          %th State
          %th Message

      %tbody
        - @assigned_incidents.each do |incident|
          %tr
            %td= incident.uuid
            %td= incident.service.name
            %td= incident.state_label
            %td= incident.message

    %h2 All Incidents
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Service
          %th State
          %th Message

      %tbody
        - @all_incidents.each do |incident|
          %tr.success
            %td= incident.uuid
            %td= incident.service.name
            %td= incident.state_label
            %td= incident.message


    - @all_incidents.each do |incident|
      = render 'v1/incidents/incident', incident: incident