<div id="wrap">
  <div class="off-canvas-wrap">
    <div class="inner-wrap">

      <div class="contain-to-grid">
        <nav class="top-bar hide-for-small" data-topbar role="navigation">
          {{!-- title --}}
          <ul class="title-area">
            <li class="name">
              <h1>
                {{link-to "revi.ly" "index"}}
              </h1>
            </li>
            <li class="toggle-topbar menu-icon">
              <a href="#"><span>Menu</span></a>
            </li>
          </ul>
          {{!-- end title --}}
          {{!-- top nav --}}
          {{#if session.isAuthenticated}}
          <section class="top-bar-section">
            <ul>
              {{ partial "application/nav" }}
            </ul>
          </section>
          {{/if}}
          <section class="top-bar-section">
            <ul class="right">
              {{ partial "application/login_nav" }}
            </ul>
          </section>
          {{!-- end top nav --}}
        </nav>
      </div>

      <nav class="tab-bar show-for-small">
        {{!-- title --}}
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title">revi.ly</h1>
        </section>
        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon"><span></span></a>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          {{ partial "application/nav" }}
          <li><label></label></li>
          {{ partial "application/login_nav" }}
        </ul>
      </aside>

      <div id="main" role="main" class="row">
        <section id="content" class="small-12 medium-12 large-12 columns">
          {{ outlet }}
        </section>
      </div>

      <aside class="right-off-canvas-menu">
        <div class="row">
          <div class="small-11 columns">
            {{ outlet "right" }}
          </div>
        </div>
      </aside>

      <a class="exit-off-canvas"></a>

    </div>
  </div>
</div>
