/ .container
.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .container-fluid
      = collapse_button "#nav-collapse"
      = brand_link

      #nav-collapse.nav-collapse.collapse
        %ul.nav
          = link_to_nav 'Dashboard', dashboard_path
          = link_to_nav 'Incidents', incidents_path
          = link_to_nav 'Services', services_path
          = link_to_nav 'Policies', escalation_policies_path, 'escalation_policies'
          = link_to_nav 'Schedules', schedules_path
          = link_to_nav 'Users', users_path

        %ul.nav.pull-right
          = render 'users/menu/registration_items'
          = render 'users/menu/login_items'
      