!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Reveille"
    = csrf_meta_tags
    %script(type="text/javascript" src="//use.typekit.net/arx8ltu.js")
    :javascript
      try{Typekit.load();}catch(e){}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application"
    = icon_links

  %body
    %header#header
      = render 'application/header'
      
    = bootstrap_flash

    %section#main.container-fluid
      .row-fluid
        - if content_for? :sidebar
          %article.span8
            = yield
          %aside.span4
            #sidebar
              = yield :sidebar if content_for?(:sidebar)
        - else
          %article.span12
            = yield

      .push

    = render 'application/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
